html {
    background-color:#fff;
}

main.wrapper {
    background-color:#fff;
    overflow:auto;
}

h1>a {
    text-decoration: none;
    color:#000;
    margin-bottom: 15px;
}


.logo {
    color: mediumpurple;
    margin-left:1%;
    text-shadow:1px 1px mediumpurple;
    font-size:1.25em;
}


div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
footer {
	clear:both;
    text-align:center;
    padding: 1em;
}


@media all and (min-width:1400px) {
   main.wrapper {
		width: 70%;
		margin: auto;
	}

    section {
		width:65%;
		float:left;
        padding: 40px;
	}
	
     aside {
        background-color: lightyellow;
		width:34%;
		float:right;
        padding: 40px;
	}
			
    img.desktop {
      		float: inherit;
       		width:100%;
            display:inline-block;
    }
}